include ./mixin.jade
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=1.0, maximum-scale=1.0,minimum-scale=1.0")
		block titulo
			title Document
		link(rel="icon",type="image/png", href="assets/images/idea4.png")
		link(rel="stylesheet", href="assets/css/bootstrap.css")
		link(rel="stylesheet", href="assets/css/fontello.css")
		link(rel="stylesheet", href="assets/css/animate.css")		
		link(rel="stylesheet", href="assets/css/main.css")
		script(src='assets/js/wow.min.js')
		script new WOW().init();

	body(data-spy="scroll" data-target=".navbar" data-offset="50")
		#hero
			.fondocolor
				.container
					.row			
						.col-md-12
							.hero-text.text-center
								img.iconp(src="assets/images/codigo.png")
								P#ocupacion Mi portafolio
								h1#titulo.particletext.lines Janet <span>Milagros</span>
								P#ocupacion Desarrolladora Front-end


								.pd
									#preloader6
										span
										span
										span
										span

			a#about.scroll-down.nav-link(href="#aboutme")


		include ./header.jade
		block contenido
			p holitas
		include ./footer.jade
		script(src='assets/js/jquery.js')
		script(src='assets/js/bootstrap.js')
		script(src='assets/js/jquery.mixitup.js')
		script(src='assets/js/main.js')
		script(src='assets/js/modal.js')