#aboutme.pdt.pdb
    .container
      .row.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
        .col-md-12
          .text-left
            h2 SOBRE MI
      .row.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
        .col-md-4
          .i-principal
            span.icono.icon-heart-empty
            p Curiosa por la tecnología. Ganas de saberlo todo y crear aplicaciones increìbles.
        .col-md-4
          .i-principal
            span.icono.icon-flash
            p Aprendizaje en base a experiencia.
        .col-md-4
          .i-principal
            span.icono.icon-users
            p Amor por el trabajo en equipo
      .row.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
        .col-md-6.text
            p Egresada de Laboratoria con estudios en computación e informática. Dispuesta a usar nuevas tecnologías y crear increíbles aplicaciones. Experiencia en Front End e interés en Back End, con el objetivo de convertirse en una Desarrolladora Full-stack.
        .col-md-6
          img.img-responsive.user(src="assets/images/foto.jpg")
