.esencia.text-center.pdb.pdt
  .container
    .row
      .col-md-offset-3.col-md-4.pdt
        p "Cada persona es un mundo de ideas.. Lo que me gusta de la programación es que con el código podemos materializar esas ideas."
      .col-md-2.pdt
        img.img-responsive(src="assets/images/foco.png", alt="")


#contactme.bck-white.text-center.pdb.pdt
  .container
    .row
      .col-md-12
        h2 CONTÁCTAME
    .row
      .col-md-12
        a(href="https://twitter.com/JanetHugarcia" target="n_blanck").icon-twitter.red-social
        a(href="https://github.com/JanetHugarcia" target="n_blanck").red-social.icon-github
        a(href="https://www.linkedin.com/in/janet-milagros-huacahuasi-garcia-b3b710120" target="n_blanck").red-social.icon-linkedin
