#frase.text-center
  .fondocolor
      .container
          .row.pdt.pdb.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="300ms")
              .col-md-6
                  blockquote
                      p "Quiero aprender todo lo que pueda. Y aplicar lo aprendido para el beneficio de mi familia y de los que me rodean."
                      small Algo para decir
              .col-md-6
                  blockquote
                      p "Soy perseverante, y sé que todo se consigue a base de mucho trabajo y esfuerzo."
                      small Acerca de mí
