#portfolio
  .container
    .row
      .col-md-12
        h2 PORTAFOLIO
    .row
      .col-md-12
        #portafolio
          .controls
            button.filter(data-filter="all") Todo
            button.filter(data-filter=".category-Esconder") Esconder
            button.filter(data-filter=".category-Maquetacion") Maquetación
            button.filter(data-filter=".category-Responsive") Responsive Design
            button.filter(data-filter=".category-SassJade") Sass/Jade
            button.filter(data-filter=".category-Javascript") Javascript
            button.filter(data-filter=".category-Contribucion") Contribuciones
          #containerin.containermixin.row
            .mix.category-Javascript
              a.mostrarmodal(href="http://janethugarcia.github.io/tic-tac-toe/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/tictactoemin.png" alt="tic tac toe")
            .mix.category-Responsive
              a(href="http://janethugarcia.github.io/triangle-theme/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/triangle.png" alt="triangle")
            .mix.category-Javascript
              a(href="http://janethugarcia.github.io/DOM-to-do-app/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/to_do_app.png" target="n_blank" alt="tic tac toe")
            .mix.category-SassJade.category-Responsive
              a(href="http://janethugarcia.github.io/agency-theme/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/agency.png" alt="agency")
            .mix.category-Javascript
              a(href="http://janethugarcia.github.io/smash-faces/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/smash-faces.png" alt="smash faces")
            .mix.category-Maquetacion
              a(href="http://janethugarcia.github.io/grid-system/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/grid-system-maq.png" alt="grid system")
            .mix.category-Maquetacion
              a(href="http://janethugarcia.github.io/cinema-layout/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/cinema.png" alt="cinema")
            .mix.category-Maquetacion
              a(href="http://janethugarcia.github.io/prettify/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/prettify.png" alt="prettify")
            .mix.category-Maquetacion
              a(href="http://janethugarcia.github.io/tini/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/tini-maq.png" alt="tini")
            .mix.category-Maquetacion
              a(href="http://janethugarcia.github.io/tini/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/ecomunidad-maq.png" alt="ecomunidad")
            .mix.category-Maquetacion
              a(href="http://janethugarcia.github.io/escuela-de-danza/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/escuela-danza.png" alt="ecomunidad")
            .mix.category-Responsive.category-Contribucion
              a(href="http://janethugarcia.github.io/primes/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/primes.png" alt="primes")
            .mix.category-Responsive.category-Contribucion
              a(href="http://sazabache.github.io/Mi-Portafolio/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/mi-portafolio.png" alt="mi portafolio")
            .mix.category-Responsive
              a(href="http://janethugarcia.github.io/responsive-blog/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/responsive-blog.png" alt="responsive blog")
            .mix.category-Responsive
              a(href="http://janethugarcia.github.io/user-testing/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/user-testing.png" alt="user testing")
            .mix.category-Responsive
              a(href="http://janethugarcia.github.io/grid-system-bootstrap/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/grid-system-bootstrap.png" alt="grid system bootstrap")
            .mix.category-Responsive
              a(href="http://janethugarcia.github.io/dashum-free-theme/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/dashum.png" alt="dashum")
            .mix.category-Responsive.category-SassJade
              a(href="http://janethugarcia.github.io/kane-theme/" target="n_blank")
               img.img-responsive.imagen(src="assets/images/kane.png" alt="kane")




//- .modal(id="img1")
//-  h1 Imagen 1
//-  .imagen
//-   a.beforeimg(href="") &#60;
//-   a.imgactual(href="") 
   
//-   a.afterimg(href="") >
//-  span.cerrar x