#skills.bck-white.pdt.pdb
    .container
        .row
            .col-md-12
                h2 HABILIDADES
        .row
            .col-md-5
                .table-skill
                    .bar-1
                        label HTML5
                        .bar(data-width="100%")
                            .bar-inner
                        p Lista para <span>estructurar</span> cualquier página web.
                    .bar-1
                        label CSS3
                        .bar(data-width="100%")
                            .bar-inner 
                        p Vamos a <span>personalizar</span> cada <span>elemento</span> de nuestra página web.
                    .bar-1
                        label Javascript
                        .bar(data-width="100%")
                            .bar-inner 
                        p ¡Nos permite darle <span>funcionalidad</span> a nuestra <span>página!</span>.

            .col-md-2
                img.avatar.img-responsive(src="assets/images/janet.png")
            .col-md-5
                .table-skill
                    .bar-1
                        label JADE/SASS
                        .bar(data-width="100%")
                            .bar-inner
                        P Para <span>crear</span> sitios web más <span>rápido</span>.
                    .bar-1
                        label RESPONSIVE DESIGN
                        .bar(data-width="100%")
                            .bar-inner
                        P Tu web se <span>verá</span> muy bien en cualquier <span>dispositivo</span> móvil.
                    .bar-1
                        label WordPress
                        .bar(data-width="100%")
                            .bar-inner
                        p El más popular <span>manejador de contenidos</span>.

