@font-face {
  font-family: 'Dosis';
  src: url("../../assets/fonts/Dosis-Book.ttf"); }
@font-face {
  font-family: 'Poiret';
  src: url("../../assets/fonts/PoiretOne-Regular.otf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  background-color: rgba(1, 1, 0, 0.5); }

.pdt {
  padding-top: 25px; }

.pdb {
  padding-bottom: 25px; }

.bck-white {
  background-color: white; }

.pd {
  padding-top: 5%; }

#foco {
  opacity: .3; }

#titulo {
  color: white;
  font-family: 'Poiret', cursive;
  margin: 0; }

small {
  color: #F8F8F6; }

#hero {
  background-image: url("../../assets/images/ciudad.png");
  background-attachment: fixed;
  background-size: cover; }
  #hero .fondocolor {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
    #hero .fondocolor .hero-text {
      padding: 18% 25% 0% 25%; }
      #hero .fondocolor .hero-text #titulo {
        font-size: 4.5em;
        text-shadow: 2px 2px rgba(255, 0, 35, 0.9);
        z-index: 1000; }
      #hero .fondocolor .hero-text #ocupacion {
        font-size: 2em;
        color: #C6273B; }
    #hero .fondocolor .idea .iconp {
      margin-right: 5%; }

#portfolio {
  color: white; }
  #portfolio .containermixin {
    background-color: transparent; }
  #portfolio .controls {
    background-color: transparent;
    border-bottom: 1px solid white; }
  #portfolio button {
    background: #F60736; }
    #portfolio button:active {
      background: #333; }

@-webkit-keyframes sdb {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 30px rgba(246, 7, 54, 0.3);
    opacity: 0; }
  100% {
    opacity: 0; } }
.scroll-down {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .scroll-down:hover {
    opacity: 0.5; }
  .scroll-down::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  .scroll-down::before {
    position: absolute;
    top: -22px;
    left: -22px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box; }

#about {
  background-color: #5e42a6;
  color: white; }

.particletext {
  text-align: center;
  font-size: 48px;
  position: relative; }

.lines > .particle {
  position: absolute;
  z-index: -100;
  background-color: rgba(200, 41, 63, 0.1);
  animation: lines 3s linear infinite; }

@keyframes lines {
  0%, 50%, 100% {
    transform: translateY(0%); }
  25% {
    transform: translateY(100%); }
  75% {
    transform: translateY(-100%); } }
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 14px;
  right: 24px;
  display: none;
  text-indent: -9999px;
  background-image: url("../../assets/images/icon_top.png") no-repeat; }

.hidden {
  opacity: 0; }

.navbar-inverse {
  background-color: #C8293F;
  border: none;
  border-radius: 0;
  margin-bottom: 0px; }

.navbar-brand {
  height: auto;
  padding: 10px 20px 10px; }

.navbar-right {
  padding-top: 15px;
  padding-bottom: 5px; }

.navbar-inverse .navbar-toggle {
  margin-top: 25px;
  border-color: transparent; }
  .navbar-inverse .navbar-toggle:hover {
    background-color: #530030; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: white; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #530030; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #FDE9DE; }

a:hover,
a:focus,
a:active,
a.active {
  color: #17d0d5; }

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand:active {
  color: #FF5C55; }

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #1ee2e7; }

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #17d0d5; }

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.navstatic {
  background-color: #C8293F;
  padding: 4px 0px;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out; }

.menu-fixed {
  background-color: #C8293F;
  padding: 0px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out; }

#aboutme {
  background-color: white; }
  #aboutme .text {
    padding: 5%; }
  #aboutme .user {
    width: 250px;
    height: auto; }
  #aboutme img {
    margin: auto; }

.icono {
  font-size: 2.5em;
  color: white;
  background-color: #C8293F;
  border-radius: 50%;
  border: 3px solid #C8293F; }
  .icono:hover {
    background-color: white;
    border-color: white;
    color: #C8293F;
    transition: all .8s;
    box-shadow: 0px 3px rgba(255, 219, 197, 0.9); }

.i-principal {
  padding: 15%;
  text-align: center;
  margin-bottom: 14px; }
  .i-principal p {
    margin-top: 5%; }

#frase {
  color: white; }
  #frase blockquote {
    font-size: 1.2em; }

#skills img {
  margin: 0 auto;
  width: 200px; }

.table-skill {
  padding: 15% 0; }

.bar {
  width: 90%;
  height: 5px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  transition: all 2s linear; }

.bar-1,
.my-skills {
  width: 85%;
  margin: 10px auto; }

.bar-1 p {
  padding: 5%; }
  .bar-1 p span {
    font-size: 1.3em;
    text-transform: uppercase; }

.bar-inner {
  width: 0;
  height: 3px;
  line-height: 35px;
  background: #C6273B;
  border-radius: 5px 0 0 5px; }

#portfolio {
  background-color: #1493CC; }
  #portfolio img {
    margin: 0 15px; }

.controls {
  padding: 2%;
  background: #333;
  color: #eee; }

button {
  display: inline-block;
  padding: .3em .7em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer; }

button.active {
  background: #68b8c4; }

button:focus {
  outline: 0 none; }

.containermixin {
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #68b8c4; }

.containermixin:after {
  content: '';
  display: inline-block;
  width: 100%; }

.containermixin .mix {
  text-align: left;
  margin-bottom: 2%;
  display: none; }

.controls {
  padding: 2%;
  background: #333;
  color: #eee; }

button {
  display: inline-block;
  padding: .3em .7em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer; }

button.active {
  background: #68b8c4; }

button:focus {
  outline: 0 none; }

.containermixin {
  padding: 2% 2% 0;
  text-align: center;
  font-size: 0.1px;
  background: #68b8c4; }

.containermixin:after {
  content: '';
  display: inline-block;
  width: 100%; }

.containermixin .mix {
  text-align: left;
  margin-bottom: 2%;
  display: none; }

.filter {
  margin-bottom: 3px; }

#contactme .red-social {
  margin: 5px;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  font-size: 3em;
  padding: 14px;
  color: white;
  text-shadow: 1px 1px #9b1f2e, 1px 1px #9b1f2e, 2px 2px #9b1f2e, 3px 3px #9b1f2e, 4px 4px #9b1f2e, 5px 5px #9b1f2e, 6px 6px #9b1f2e, 7px 7px #9b1f2e, 8px 8px #9b1f2e, 9px 9px #9b1f2e, 10px 10px #9b1f2e;
  background-color: #C6273B; }
  #contactme .red-social:hover {
    text-decoration: none;
    background-color: #e3707f;
    transition: 2s; }

.esencia {
  background-color: white; }
  .esencia img {
    margin: 0 auto;
    width: 100px; }

.imagen {
  width: 183px;
  height: 260px; }

footer {
  padding: 1%;
  background-color: white; }
  footer hr {
    border: 1px solid rgba(44, 15, 43, 0.3); }

@media screen and (max-width: 768px) {
  #hero .fondocolor .hero-text {
    padding: 18% 20% 0% 20%; }
    #hero .fondocolor .hero-text #titulo {
      font-size: 3em; }

  .navbar-inverse .navbar-brand #titulo {
    font-size: 1.3em; }

  .navbar-inverse .navbar-toggle {
    margin-top: 15px; }

  .avatar {
    width: 40%; }

  #contactme .red-social {
    width: 70px;
    height: 70px;
    font-size: 1em; } }
@media screen and (max-width: 992px) {
  .i-principal {
    padding: 15% 15% 0%; } }

/*# sourceMappingURL=main.css.map */
