extends base/base.jade

block titulo
	title Janet Milagros

block contenido
	include ./sections/aboutme.jade
	include ./sections/frase.jade
	include ./sections/skills.jade
	include ./sections/portafolio.jade
	include ./sections/contact.jade
