$negro:#191919;
$verde:#00A29D;
$fuxia:#FF5C55;
$violeta:#481E7F;
$rosado:#FF5475;
$sass:#CD6799;

$colorPrincipal:#C8293F;
$colorSecundario:#530030;
$colorTerciario:#7C0032;
$tomate:#C6273B;
$naranja: #FD573A;
$mandarina:#FE7F4A;
$cielo:#FFDBC5;
$cielolight:#FDE9DE;
